dominate==2.7.0
h5py==3.7.0
imageio==2.22.2
Markdown==3.4.1
matplotlib
opencv-python==4.5.1.48
openpyxl==3.1.2
pandas==1.5.1
Pillow==9.2.0
protobuf==3.19.6
pyramid==2.0
pytorch-lightning
PyWavelets==1.4.1
PyYAML
scikit-image==0.20.0
scikit-learn==1.1.2
scipy==1.9.1
torch==1.13.0
torchmetrics
torchsummary==1.5.1
torchvision==0.14.0
visdom==0.2.3
